include ANNOUNCE-POST.md CHANGELOG.md README.md LICENSE
include SECURITY.md CONTRIBUTING.md
include __init__.py
include plugin.yaml
recursive-include docs *.md
recursive-include hybrid_contextual_routing *.md *.yaml py.typed
